html,
body {
    font-size: 18px;
}

body {
    background-color: azure;
}

a {
    color: black;
}

a:hover {
    color: darkcyan;
}

h2 {
    color: brown;
}

.nav .nav-item .nav-link {
    margin: 0 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 0 0 5px #aaaaaa;
}

.nav .nav-item .nav-link.active,
.nav .nav-pills .show>.nav-link {
    background-color: darkcyan;
    color: white;
}

#divLinks{
    display: none;
}